# Database
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=giapha
DB_NAME=giapha
DB_USER=giapha
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# Auth - Generate this secret by running `pnpm run auth:secret`
BETTER_AUTH_SECRET=change-me-to-a-random-secret-at-least-32-chars # By running `pnpm run auth:secret
BETTER_AUTH_URL=http://localhost:3000

# Trusted origins (comma-delimited, optional)
# TRUSTED_ORIGINS=https://example.com,https://other.com

# File uploads
UPLOAD_DIR=./uploads

# Site
SITE_NAME="Gia Phả OS"

# E2E Testing only, don't need for production
E2E_TEST_UTILS=true
